<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProject.Properties.Settings.FinalProjectConnectionString"
            connectionString="Data Source=DESKTOP-IT2IGLD\SQLEXPRESS;Initial Catalog=FinalProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>